@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color:rgb(252, 119, 119);
}

#nav-bar {
    background-color: rgb(255, 61, 61);
    display: flex;
    flex-direction: row;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: "Freeman", sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    max-width: 100%;
    min-height: 10%;
    margin-bottom: 3vh;
}

#title-div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#title-div > img {
    max-width: 3.5rem;
    max-height: 3.5rem;
}

#title {
    margin-left: min(2vw, 1rem);
    font-size: clamp(1.4rem, 3vw, 4.5rem);
    font-weight: 600;
}

#links {
    max-width: 30%;
    margin: 0% 1%;
}

#links > ul {
    list-style-type: none;
    display: flex;
}

#links > ul > li {
    margin-right: max(2rem, 2vw);
}


.link {
    color: rgb(108, 157, 235);
    transition: color 1s linear 0s;
    text-decoration: none;
    font-size: clamp(1rem, 1.6vw, 2rem);
    position:relative;
    display: block;
}

.link:hover {
    color:rgb(70, 116, 208);
}

/*Adding an animated text decoriation.*/
.link::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, rgb(105, 228, 255), #8079e3);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size .3s ease-in;
}

.link:hover::before {
    background-size: 100% 2px;
}

#search {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;    
}

#search-options-div {
    width: 35%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

#select-option {
    width:100%;
    height: 2rem;
    font-size: clamp(0.8rem, 1.2vw, 2rem);
    font-family: "Open Sans", sans-serif;
    font-weight:400;
    text-align: left;
    border-radius: 0.5rem;
}

#search-box {
    width: 40%;
    height: 2rem;
    font-size: clamp(0.8rem, 1.2vw, 2rem);
    font-family: "Open Sans", sans-serif;
    font-weight:400;
    border-radius: 0.5rem;
    border-style: none;
    padding:0.2rem;
}

#search-button{
    height: 2rem;
    font-size: clamp(0.8rem, 1.4vw, 2rem);
    background-color: rgba(148, 198, 244, 1);
    font-family: "Freeman", sans-serif;
    color: rgba(255, 255, 255, 1);
    border-radius: 0.8rem;
    border-style: none;
    padding: 0.2rem 1rem;
    box-shadow: 2px 2px 8px rgb(92, 124, 154);
}

@media (width <= 760px) {
    #nav-bar {
        flex-direction: column;
        justify-content: center;
    }

    #nav-bar > * {
        margin-top: 0.6rem;
    } 

    #title {
        white-space: nowrap;
    }

    #links > ul {
        justify-content: center;
    }

    #select-option-label {
        visibility: hidden;
    }
}