@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

#main{
    text-align: center;
}

#set-image {
    height:5rem;
    margin-bottom:1vh;
}

/*All welcome-* is displayed when a search has not been made.*/
#welcome-message {
    width:94%;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1vw;
    padding: 2%;
    background-color: #498abf;
    font-family: "Freeman", sans-serif;
    font-weight: 100;
    color: #ffffff;
    font-size: clamp(0.4rem, 1.2vw, 2rem);
}

#welcome-list {
    margin-top: 2vh;
    list-style: none;
    background-color: #427aa8;
    margin-bottom: 2vh;
    padding: 1vw;
}

#welcome-list > li {
    margin-top: 1vh;
}

#welcome-list > li:before {
    content: "✪";
    padding-right: 0.5vw;
    padding-left: 1vh;
}

#welcome-image {
    max-height: 4%;
    max-width: 4%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* Formatting the search results */

.results-label {
    text-align: center;
    font-family: "Freeman", sans-serif;
    margin-bottom: 1.5rem;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 700;
    color:rgb(255, 255, 255);
}

#results-outer {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:90%;
    margin: 2% 5%;
    justify-content:center;
    padding: 1.5rem 0.5rem;
    background: radial-gradient(#4e4bde,  #36bae6);
    border-radius: 10px;
}

.search-result {
    background-color: rgb(228, 41, 41);
    max-width: 18%;
    display: inline-block;
    margin: 2vh 0.5vw;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    font-style: italic;
    border-color: rgb(118, 246, 255);
    border-width: 0.5rem;
    border-style: double;
    border-radius: 40%;
    padding: 1% 1%;
}

.search-result > a { 
    color: #ffffff;
    font-size: clamp(0.4rem, 1.2vw, 2rem);
    text-decoration: none;
    font-family: "Freeman", sans-serif;
}



