html
 head
  script(src="/scripts/jquery-3.7.1.min.js")
  script(src="/scripts/search.js")
  script(src="/scripts/pokemon.js")
  title Pokemon Card Database 
  link(rel="icon", href="/images/master_ball_icon.svg" type="image/svg+xml", sizes="any")
  link(rel="stylesheet", href="/styles/pokemon.css", type="text/css")
  link(rel="stylesheet", href="/styles/header.css", type="text/css")
 body
  include ./partials/header.pug
  div#main
   table#outer-table 
    caption Choose a Pokemon to View Its Cards
    thead
     tr
      th Name
        span &#x27A4;
      th Appears In (Sets)
    tbody
      each pokemon in data.pokemon
        tr(class="row")
          td
            a(href=`/search?type=0&body=${pokemon.name}`) #{pokemon.name}
          td
            table.subtable
              each card in pokemon.appearsOn
                tr
                  td
                    a(href=card.url) #{card.set}