html
	head
		script(src="/scripts/jquery-3.7.1.min.js")
		script(src="/scripts/search.js")
		title Pokemon Card Database 
		link(rel="icon", href="/images/master_ball_icon.svg" type="image/svg+xml", sizes="any")
		link(rel="stylesheet", href="/styles/search.css", type="text/css")
		link(rel="stylesheet", href="/styles/header.css", type="text/css")
	body
		include ./partials/header.pug
		if searchResults.length > 0
			h1(id="search-results-header") Search Results
		div#results-outer
			if searchResults.length > 0
				each result in searchResults
					div(class="search-result")
						a(href=result.url) #{result.text}

			


			