
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/*Styles for the entire page (main) and the left side of the page where the image of the card is displayed.*/
#main {
    display: flex;
    flex-direction: row;
    background-color: none;
}

#video {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    max-width: 100%;
    z-index: -1;
}

#image-column{
    width: 49%;
    float:left;
    text-align: center;
    justify-content: center;
}

#card-image {
    max-width:80%;
    max-height:45%;
}

#card-image-name {
    color:#FFFFFF;
    font-family: "Kanit", "sans-serif";
    font-style: italic;
    font-weight: 600;
    font-size: 5.5vh;
}

#card-image-set {
    color:#FFFFFF;
    font-family: "Kanit", "sans-serif";
    font-weight: 400;
    font-size: 3.5vh;
}

/*Styles for the right side of the page where all of the information is displayed (not including attacks). 
However, stat-table contains move-table.*/
#stat-table {
    background-color: #498abf;
    float: right;
    width: 49%;
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 6vh;
    height: fit-content;
    border-radius: 1vw;
    border-style: double;
    border-width: 1vw;
    border-color: #49f0fc
}

.card-stat{
    background-color: #05477e;
    color:#FFFFFF;
    border-style:solid;
    border-radius: 0.4vw;
    border-color: #90cafa;
    height: 10vh;
    align-content: center;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    font-size: 100%;
    margin-bottom: 0.5vh;
}

.card-stat > p {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

/*Styles for the table of attacks*/

#move-table-wrapper {
    font-size: 6vh;
    font-weight: 800;
    margin-top: 2vh;
    color:#FFFFFF;
    font-family: "Roboto Mono", sans-serif;
}

#move-table {
    margin-top: 2vh;
    margin-bottom: 0%;
}

#move-table li{
    list-style: none;
    width: 100%;
    margin-bottom: 1vh;
    background-color: #05477e;
    padding: 1.2vh;
    border-style:solid;
    border-radius: 0.4vw;
    border-color: #90cafa;
}

#move-table li label {
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3.5vh;
    font-weight: 500;
    cursor: pointer;
    color:#FFFFFF;
}

#move-table li label span {
    font-size: 4vh;
    color: #FFFFFF;
}

#move-table label + input[type="radio"] {
    display: none;
}

.type-image {
    max-height: 6vh;
    max-width: 6vh;
    vertical-align: middle;
}

#move-table .description {
    padding: 0 2vh;
    line-height: 5vh;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: left;
    color:#FFFFFF;
    font-size: 3vh;
    font-weight: 400;
}

#move-table label + input[type="radio"]:checked + .description {
    max-height: 100%;
}