@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color:rgb(252, 119, 119);
}

#title-div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#title-div > img {
    width: 6rem;
    height: 6rem;
}

#title {
    margin-left: 1rem;
}

#nav-bar {
    background-color: rgb(255, 61, 61);
    display: flex;
    margin: 0rem 0rem 1.5rem 0rem;
    font-family: "Freeman", sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 2%;
    box-shadow: 0rem 0.1rem 5px rgb(0, 0, 0);
}

#links {
    display: inline-flex;
}


#links ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#links ul li {
    display: inline-block;
}


.link {
    color: rgb(108, 157, 235);
    transition: all 1s ease 0s;
    text-decoration: none;
    font-size: 1.25rem;
    position:relative;
    margin: 0 2rem;
}

.link:hover {
    color:rgb(70, 116, 208);
}

/*Adding an animated text decoriation.*/
.link::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, rgb(105, 228, 255), #8079e3);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size .3s ease-in;
}

.link:hover::before {
    background-size: 100% 2px;
}

#search {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;    
}

#search-options-div {
    width: 35%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

#select-option {
    width:100%;
    height: 2rem;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight:400;
    text-align: left;
    border-radius: 0.5rem;
}

#search-box {
    width: 40%;
    height: 2rem;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight:400;
    border-radius: 0.5rem;
    border-style: none;
    padding:0.2rem;
}

#search-button{
    width: auto;
    height: 2rem;
    font-size: medium;
    background-color: rgb(148, 198, 244);
    font-family: "Freeman", sans-serif;
    color: rgba(255, 255, 255, 1);
    border-radius: 0.8rem;
    border-style: none;
    padding: 0rem 1rem;
}