@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

#main{
    text-align: center;
}

#set-image {
    height:10%;
    margin-bottom:1vh;
}

#set-image-label {
    font-size: 8vh;
    font-family: "Freeman", sans-serif;
    font-weight: 700;
    margin-bottom: 1vh;
}

/*All welcome-* is displayed when a search has not been made.*/
#welcome-message {
    width:94%;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1vw;
    padding: 2%;
    background-color: #498abf;
    font-family: "Freeman", sans-serif;
    font-weight: 100;
    color: #ffffff;
}

#welcome-list {
    margin-top: 2vh;
    list-style: none;
    background-color: #427aa8;
    margin-bottom: 2vh;
    padding: 1vw;
}

#welcome-list > li {
    margin-top: 1vh;
}

#welcome-list > li:before {
    content: "✪";
    padding-right: 0.5vw;
    padding-left: 1vh;
}

#welcome-image {
    max-height: 4%;
    max-width: 4%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* Formatting the search results */

#results-label {
    text-align: center;
    font-family: "Freeman", sans-serif;
    margin-bottom: 2vh;
    font-size: 8vh;
    font-weight: 700;
    color:rgb(0, 0, 0);
}

#results-outer {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:90%;
    margin: 0 5%;
    justify-content:center;
    background-color: #427aa8;;
    border-style: outset;
    padding: 1vw 0.5vw;
    border-color: #3c729f;
    border-width: 2vw;
}

.search-result {
    background-color: rgb(199, 32, 32);
    width: 18%;
    display: inline-block;
    margin: 1.5vh 0.5vw;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    font-style: italic;
    border-color: rgb(118, 246, 255);
    border-width: 0.7vw;
    border-style: double;
    border-radius: 40%;
    padding: 1% 1%;
}

.search-result > a { 
    color: #ffffff;
    font-size: 3vh;
    text-decoration: none;
    font-family: "Freeman", sans-serif;
}



