@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

body{
    text-align: center;
}

#results-outer {
    background-color: none;
    text-align: center;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}


.search-result {
    background-color: rgb(24, 72, 114);
    width: 30%;
    display: inline-block;
    margin-top:15px;
    margin-right: 5px;
    margin-left: 5px;
    border-color: rgb(216, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.search-result > a { 
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
}

#search-results-header {
    font-family: "Freeman", sans-serif;
    color: aliceblue;
    font-size: 20px;
    vertical-align: top;
}

#main {
    text-align: left;
}


